<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>INDEX</title>
</head>
<body>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
    <form action="{% url 'display' %}" method="">
        {% csrf_token %}
        <button type="submit">Display All</button>
    </form>
    <hr />
    <form action="{% url 'filter' %}" method="post">
        {% csrf_token %}
        <input type="text" name="regno">br
        <button type="submit">Filter</button>
    </form>
</body>
</html>